body{
    font-family: 'Montserrat', sans-serif;
}
.main-content{
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        font-weight: 900;
    }
}
.user-search{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
}
.user-item{
    background-color: #ffff;
    box-shadow: 0px 3px 6px 0px rgba(239,244,253,1);
    color: #5B6270;
    transition: 0.3s ease-in-out;
    &:hover{
    box-shadow: 0px 3px 20px 0px rgba(239,244,253,1);
    }
}
.users{
    padding: 10px 150px;
}
.profile-btn{
    border-radius: 14px;
    background-color: #EFF4FD;
    color: #377DFF;
    border: none;
    outline: none;
    padding: 0px 20px;
}
.profile{
    img{
        width: 38px;
        border-radius: 50px;
    }
    p{
        font-weight: 500;
    }
}
.submit-btn{
    width: 254px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 14px;
    padding: 10px 0px;
    outline: none;
    border: none;
    transition: 0.3s ease-in;
    &:hover{
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.2);
    }
}
.search-container{
    display: flex;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.05);
  border-radius: 14px;
  outline: none;
  padding: 5px 15px;
}
.icon{
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
}
.btn{
    outline: none;
}
.header-box{
    border: 1px solid #EFF4FD;
    border-radius: 14px;
    .profile-img{
        width: 149px;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    }
    .bio{
        h2{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
        h3{
            font-family: 'Montserrat', sans-serif;
        }
    }
    .contact{
        p{
            font-size: 16px;
        }
        .contact-ico{
            color: #377DFF;
            vertical-align: center;
        }
    }
}
.repos{
    .repo{
        width: 364px;
        height: 133px;
        border: 1px solid #EFF4FD;
        border-radius: 14px;
        padding: 17px 30px;
        overflow: hidden;
        h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 19px;
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;
        }
        .tst{
            position: absolute;
        }
        .repo-details{
            margin-right: 15px;
            font-size: 14px;
            
        }
    }
}