body{
    font-family: 'Montserrat', sans-serif;
}
.main-content{
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        font-weight: 900;
    }
}
.user-search{
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.05);
    border-radius: 14px;
    outline: none;
}
.user-item{
    background-color: #ffff;
    box-shadow: 0px 3px 6px 0px rgba(239,244,253,1);
    color: #5B6270;
    transition: 0.3s ease-in-out;
    &:hover{
    box-shadow: 0px 3px 20px 0px rgba(239,244,253,1);
    }
}
.users{
    padding: 10px 150px;
}
.profile-btn{
    border-radius: 14px;
    background-color: #EFF4FD;
    color: #377DFF;
    border: none;
    outline: none;
    padding: 0px 20px;
}
.profile{
    img{
        width: 38px;
        border-radius: 50px;
    }
    p{
        font-weight: 500;
    }
}
.submit-btn{
    width: 254px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 14px;
    padding: 10px 0px;
    outline: none;
    border: none;
    transition: 0.3s ease-in;
    &:hover{
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.2);
    }
}
/*footer{
    position: absolute;
    bottom: 0;
    margin: 20px 400px;
}*/